

body {
  font-size: 15px;
  text-align: left;
}

h1 {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend-Deca"
}

p {
  color: hsl(0, 0%, 95%);
}

.attribution {
  font-size: 20px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.info {
  padding: 50px;
  margin: 20px;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  height: 500px;
  padding: 30px;
  width: 300px;
  display: block;

}

.suv {
  background-color: hsl(184, 100%, 22%);
  display: block;
  height: 500px;
  left: 360px;
  bottom: 560px;
  padding: 30px;
  width: 300px;
  position: relative;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  display: block;
  height: 500px;
  left: 720px;
  bottom: 1120px;
  padding: 30px;
  width: 300px;
  position: relative;

}
